/*Utility Class*/

.hide
{
  display: none;
}

/* General rules - scales images, videos to size of container */
img, embed, object, video {
  max-width: 100%;
  }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: border-box; }

/*Fix for scaling of images IE*/
img {
  -ms-interpolation-mode: bicubic; }

/*Fonts*/

@font-face {
font-family: 'Futura Std';
src: url('../fonts/Futura Std Extra Bold.ttf');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Gotu';
src: url('../fonts/Gotu-Regular.ttf');
font-weight: normal;
font-style: normal;
}

/*General Rules for Elements*/

body
{
  font-family: 'Futura Std', Helvetica, Arial, sans-serif;
  background-color: #F6F6F6;
  margin: 0;
  padding: 0;
  font-size: 100%;
}
.nana{
  background: #F6F6F6;
  z-index: 2222;
  width: 100%;
  height: 100%;
}
a 
{ 
  color:#000; 
  text-decoration: none; 
  outline:0; 
  transition:all .1s linear 0s;
}

h2, h3
{
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  color: #1B3116;
  font-weight: bolder;
}

p{
  font-family: 'Gotu', Helvetica, Arial, sans-serif;
  color: #6A819B;
}

.button a{
  font-family: Segoe Script;
  color: red;
  font-size: 20px;
}
.popup_box h2{
  padding: 20px 0;
}


.slide{
  width: 100vw;
  height: 100vh;
  background: #F6F6F6;
}
/* MENU LOGO AND PAGE COUNTER */
#fixedStructure{
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 3% auto 3%;
  grid-template-rows: 5% auto 5%;
  /* z-index: 9990999; */
  position: absolute;
  /* pointer-events: none; */
  top:0;
  left: 0;
}

#Logo{
  grid-column:2;
  grid-row:2;
  align-self:end;
  justify-self: end;
  font-family: Futura;
  text-transform: uppercase;
  font-size: 16px;
}

#menu{
  /* grid-column:2; */
  /* grid-row:2; */
  z-index: 99999999;
  position: absolute;
  margin: 5% 5%;
  cursor: pointer;
}

/*PAGE COUNTER*/
#pageCounter{
  display: flex;
  grid-column: 2;
  grid-row: 2;
  align-self:end;
  width: 53px;
  /*! height: 30px; */
  color:  black;
  font-family: 'Barlow Condensed', cursive;
  flex-direction: row;
  justify-content: space-evenly;
  /*! opacity: 0; */
}
#pageCounter .currentSlide{
  font-size: 35px;
}
#pageCounter p:last-child{
  font-size: 13px;
  /*! position: absolute; */
  top: -10px;
  right: 0;
  border-bottom: 1px solid #000;
  height: 100%;
}
/*SLIDES ANIMATION*/
::-webkit-scrollbar{
  display: none;
}

.oval{
  width: 40px;
  height: 40px;
  border-radius: 100%;
  position:absolute;
  background: gold;
  z-index: 99999;
  cursor: pointer;
  border: 5px solid black;
  display: none;
}
.foam{
  top: 40%;
  left: 90%;
}
.quality{
  top: 80%;
  left: 20%;
}
.popup_box{
  opacity: 0;
  padding: 20px;
  width: 300px;
  background-color: gold;
  position: absolute;
}
.quality_info{
  top: 50%;
  left: 20%;
}
.foam_info{
  top: 11%;
  left: 70%;
}
.love_info{
  top: 57%;
  right:46%;
}
.show_oval{
  opacity: 1;
}
.natural{
  left: 30%;
  top: 30%;
}
.natural_info{
  left: 11%;
  top: 31%;
}
.popup_box h2{
  text-transform: uppercase;
  font-size: 23px;
}
.popup_box p{
  color: white;
}
.love{
  top: 55%;
  right: 45%;
}
.gold_background{
  background-color: gold;
}

#mainContentWrapper{
  width: 100vw; 
  height: 100vh; 
  overflow:hidden;
  scrollbar-width: none;
  -ms-overflow-style:none;

  position: absolute;
}

.two, .three, .four{
  transform: translateY(100vh);
}
.one{
  top: 0;
    left:0;
  z-index: 1;
  background: black;
}
.one img{
  object-fit: cover;
  width: 100%;
  height:100%;
  position: absolute;
}
.two{
  z-index: 2;
}
.three{
  z-index: 3;
}
.four{
  z-index: 4;
}
.transition{
  transition: all 1.5s ease;
}

.active{
  transition: all 1.5s ease;
  transform: translateY(0);
  opacity: 1;
}
.move{
  transition: all 1.5s ease;
  transform: translateY(-100vh);
  background-position: top;
  opacity: 1;
}
.one.move{
  transform: translateY(-50vh);
  transition: all 1.5s ease, opacity 1.5s 1.5s ease;
  opacity: 0;
}


/*MOBILE SLIDE*/
.slide{
  position: absolute;
  overflow: hidden;
  display: grid;
  grid-template-columns: 5% 1fr 5%;
  grid-template-rows: 5% 1fr 5% 1fr 5%;
}

.art_img_wrapper{
  grid-column:2;
  grid-row:2/3;
  display: grid;
  /* background-size: cover; */
  /* background-position: bottom; */
  /* position: relative; */
  /* overflow: hidden; */
}
.two .art_img_wrapper{
  background: url("../img/promoImageCollection.jpg");
  background-position: center;
  background-size: cover;
}
.three .art_img_wrapper{
  background: url("../img/image1.jpg");
  display: grid;
}
.watercolor_background{
  grid-column:2;
  grid-row:1/5;
  background: url("../img/splash.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width:100%;
  height:100%;
}
.bottles{
  display: none;
  position: absolute;
}
.article{
  grid-column:2;
  grid-row:4/5;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 5%;
  z-index: 999;
}
.article h2{
  text-transform: uppercase; 
  letter-spacing: 3px;
}
.slide.two, .slide.three h2{
  font-size: 30px;
}
.article p{
  font-size: 14px;
  line-height: 20px;
}

.location{
  padding: 5% 0;
}

.article.locations p:first-child{
  font-family: Forte;
  font-size: 28px;
}
h2.heading{
  display: none;
}



@media screen and (min-width: 1024px) {
  .menu nav{
    width: 40vw;
    height: 100vh;
    transform: translateX(-40vw);
  }
  .menu nav ul li{
    font-size: 40px;
    margin: 0.5em;
  }
  nav.opened-menu{
    transition: all 1s;
    transform: translateX(0);
  }
  .oval{
    display: block;
  }
  .slide{
    display: grid;
    grid-template-columns: 10% 1fr 7% 1fr 10%;
    grid-template-rows: 10% 1fr 4fr 1fr 10%;
    /* overflow: visible; */
  }
  .slide.two, .slide.three h2{
    font-size: 35px;
  }
  .article{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding:0;
  }
  .article.collections, .article.locations{
    grid-column: 2;
    grid-row: 3/4 ;
  }
  .article.about{
    grid-column: 4;
    grid-row: 3/4 ;
  }
  .article.locations{
    padding: 110px 60px 0px 60px;
  }
  .two .art_img_wrapper, .four .art_img_wrapper{
    grid-column: 4;
    grid-row: 3/4;
    /* align-self: center; */
    padding: 0 20%;
    /* margin: 0 auto; */
  }
  .three .art_img_wrapper{
    grid-column: 2;
    grid-row: 3/4;
    display: grid;
    background-size: cover;
  }
  .two .watercolor_background, .four .watercolor_background{
    grid-column: 3/6;
    grid-row: 1/4;
    overflow: visible;
  }
  .three .watercolor_background{
    grid-column:1/4;
    grid-row: 1/4;
  }
  .bottles{
    display: block;
    width: 100%;
    height: 100%;
    bottom: -25%;
    left: -52%;
    position: relative;
  }
  h2.heading{
    display: block;
    font-size: 50px;
      text-transform: uppercase;
      grid-column: 2/5;
      grid-row: 3;
      padding: 0px 50px;
      z-index: 999;
  }

  .article p{
    font-size: 16px;
    line-height: 25px;
  }
}

@media screen and (min-width: 1328px) {
  .slide.two, .slide.three h2{
    font-size: 45px;
  }
  h2.heading{
    display: block;
    font-size: 55px;
    text-transform: uppercase;
    grid-column: 2/5;
    grid-row: 3;
    padding: 0px 50px;
    z-index: 999;
  }
  .article.locations{
    padding: 130px 60px 0px 60px;
  }
}

.lightbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.85);
  display: none;

  /* eventually we'll hide it by default
  display: none;
  */
}

.show-lightbox {
  display: grid;
}

.close-button {
  color: white;
  font-size: 2em;
  padding: 10px;
  float: right;
  padding-right: 35px;
  padding-top: 20px;
  cursor: pointer;
}

.vid-controls span {color: white;font-size: 2em;cursor: pointer;}



video {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* margin: 5%; */
  z-index: 999999;
}

.play-video-button{
  width: 80px;
  height: 80px;
  background-image: url("../img/play-video-button.png");
  background-size:cover;
  background-position:center;
  align-self: center;
  justify-self: center;
  margin-left: 30px;
}
